<ul>
      <li>
        <a href = "{{ '/' | relative_url }}">
          首頁
        </a>
      </li>
      <li>
        <a href = "{{ 'projectTomb' | relative_url }}">
          Project-Tombstone
        </a>
      </li>
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          生平
        </a>
      </li>
      <li>
        <a href = "{{ 'media' | relative_url }}">
          影像
        </a>
      </li>
      <li>
        <a href = "{{ 'lastWish' | relative_url }}">
          遗嘱
        </a>
      </li>
      <li>
        <a href = "{{ 'blog/' | relative_url }}">
          作品
        </a>
      </li>
      <li>
        <a href = "{{ 'comments/' | relative_url }}">
          评价
        </a>
      </li>
      <li>
        <a href = "{{ 'treatment' | relative_url }}">
          治疗建议
        </a>
      </li>
      <li>
        <a href = "{{ 'credit/' | relative_url }}">
          Credit
        </a>
      </li>
</ul>